.notification
  .chat-side
    .user
      .user-cotent
        .user-name<name
        .chat-side__group-icon
          = link_to "", class: "side-content__header__icon" do
            = fa_icon "pencil-square-o"
          = link_to "", class: "side-content__header__icon" do
            = fa_icon "cog"
    .chat-side__groups
      .chat-side__groups-list
        .chat-side__group
          .chat-side__group-name<group-name
          .chat-side__group-message<message
  .chat-main
    .header
      .right-header
        .right-header-title
        = link_to "Edit", "", class: 'edit-btn'
      .left-header
        .left-header-title<group-name
        .left-header-member<group-member
    .messages
      .body--messages-list
        .message
          .upper-message
            .message-name<name
            .message-time<2018.10.13 07:40
          .lower-massage
            .message-body<hello
    .form
      %form#new_message.js-form{"accept-charset" => "UTF-8", :action => ""}
        %input{:name => "utf8", :type => "hidden", :value => ""}/
        %input{:name => "authenticity_token", :type => "hidden"}/
        %input#message_content.form__message.js-content{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
      .form__masks
        %label.form__mask__image{:for => "message_image"}
          %i.fa.fa-picture-o.icon
            %input#message_image.hidden.js-file{:name => "message[image]", :type => "file", :style => "display:none;" }/
        %input.form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/


